@charset 'UTF-8';

/**
 * GENERAL
 */
body {
    background: #E9EAED;
    background: #fff;
    font-family: 'raleway', sans-serif;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
}
nav li a {
    padding: 0 10px;
}

/**
 * HEADER
 */
.mainsiteheader {
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 5px #999;
    text-align: center;
    z-index: 100;
    background: #fff;
}
.sitename {
    font-weight: normal;
    font-size: 100px;
    font-family: 'chinese_rocks_rg';
    color: #333;
    text-decoration: none;
    padding: 20px 0;
    float: left;
    width: 100%;
}
.sitename:hover {
    text-shadow: 1px 1px 2px #fff, 2px 2px 1px #333;
}
body.scrolled .mainsiteheader {
    background: rgba(255, 255, 255, 0.6);
}
body.scrolled .mainsiteheader .sitename {
    width: 300px;
    font-size: 40px;
    padding: 5px 0;
}
body.scrolled .mainsiteheader .mainsitenav {
    float: right;
    width: auto;
    padding-right: 50px;
}

/**
 * HEADERTOOLBAR
 */
.mainsitetoolbar {
    background: #333;
    float: left;
    width: 100%;
    text-align: right;
    padding: 5px 50px 0;
    box-sizing: border-box;
}
.mainsitetoolbar a {
    color: #fff;
    text-decoration: none;
    background: transparent no-repeat;
    display: inline-block;
    overflow: hidden;
    text-indent: 30px;
    width: 20px;
    padding: 0 5px;
}
.mainsitetoolbar .facebook {
    background-image: url(img/facebook.png);
}
.mainsitetoolbar .mixcloud {
    background-image: url(img/mixcloud.png);
}


/**
 * HEADERNAV
 */
.mainsitenav {
    float: left;
    width: 100%;
    padding: 20px 0;
}
.mainsitenav a {
    color: #333;
    text-decoration: none;
}
.mainsitenav li {
    padding: 20px 0;
}
.mainsitenav li:hover {
    border-bottom: 3px solid #333;
}


/**
 * CONTENT
 */
.contentheaderwrap {
    float: left;
    width: 100%;
    padding-top: 235px;
/*    height: 330px;*/
    background: #E9EAED;
}
.contentheader {
    margin: 0 auto;
    width: 960px;
}
.contentheader .profilepic {
    width: 250px;
    float: left;
    margin: 40px;
}
.contentheader h2 {
    margin-bottom: 0;
}
.contentheader .blurb {
    width: 600px;
    margin: 35px 0;
    float: left;
}


.contentwrap {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0 1px 5px #999;
}
.content {
    width: 960px;
    padding: 100px;
    margin: 60px auto;
}
.content h2 {
    margin: 20px;
    color: #333;
    border-bottom: 1px solid;
}

/**
 * MIXCLOUDCASTS
 */
.mixcloudshows {
    text-align: left;
}
.castthumb {
    float: right;
}
.castwrap {
    display: block;
    height: 50px;
    padding: 20px;
}
.castlink {
    color: #333;
    text-decoration: none;
    font-size: 1.4em;
}
.castlink:hover {
    text-decoration: underline;
}
.casttagwrap {
    font-size: 16px;
    padding: 2px 0;
}
.casttaglink {
    font-size: 0.6em;
    font-style: italic;
    font-weight: 700;
    color: #999;
    text-decoration: none;
    background: #E9EAED;
    border: 1px solid #339;
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 4px 0 0;
}
.casttaglink:hover {
    text-decoration: underline;
}


/**
 * FOOTER
 */
.mainsitefooter {
    display: none;
}

/**
 * RESPONSIVE
 */
@media screen and (max-width: 960px) {
	.contentheader, .content, .contentheader .blurb {
		width: 90%;
		padding: 0;
	}
	.contentheader .profilepic {
		width: 100%;
		float: none;
		margin: 0 auto;
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
	.sitename {
		font-size: 3em;
	}
	.casttagwrap {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	body.scrolled .mainsiteheader .sitename,
	.sitename {
		width: 0;
		height: 50px;
		padding: 0 0 0 50px;
		overflow: hidden;
		float: left;
		background: url(/img/ru-trans32.png) no-repeat 13px 13px;
	}
	.castlink {
		font-size: 1em;
	}
}
